<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.changePassword.title}">Password change Form</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="alert alert-info" th:if="${changePasswordSuccess}">
			<h2 class="text text-center" th:text="#{label.changePassword.changePasswordSuccess}">Password changed!</h2>
		</div>
		<div class="alert alert-danger" th:if="${changePasswordUnSuccess} == 'UnSuccess'">
			<h2 class="text text-center" th:text="#{label.changePassword.changePasswordUnSuccess}">Password can not be changed!</h2>
		</div>
		<form action="#" th:action="@{/changePassword}" th:object="${password}" method="post">
			<div class="form-group row justify-content-start">
				<label for="oldPassword" class="form-control-label col-2" th:text="#{label.changePassword.oldPassword}">Old Password</label> 
				<input	type="password" class="form-control col-2" th:field="*{oldPassword}" id="email" />
<!-- 				<div class="text text-danger" th:if="${#fields.hasErrors('oldPassword')}"	th:errors="*{oldPassword}"></div> -->
			</div>				
			<div class="form-group row justify-content-start">
				<label for="newPassword" class="form-control-label col-2" th:text="#{label.changePassword.newPassword}">Password</label>
				<input	type="password" class="form-control col-2" th:field="*{newPassword}"	id="newPassword" />
<!-- 				<div class="text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div> -->
			</div>				
			<div class="form-group row justify-content-start">
				<label for="repeatPassword" class="form-control-label col-2" th:text="#{label.changePassword.repeatPassword}">Repeat password</label> 
				<input	type="password" class="form-control col-2" th:field="*{repeatPassword}" id="repeatPassword" />
<!-- 				<div class="text text-danger" th:if="${#fields.hasErrors('repeatPassword')}"	th:errors="*{repeatPassword}"></div> -->
			</div>
			<input type="submit" value="Submit" th:value="#{value.changePassword.submit}" class="btn btn-primary">
		</form>
	</div>
</body>
</html>