<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.usersPage.title}">Users Page</title>
<script type="text/javascript" th:src="@{js/userList.js}" src="../static/js/userList.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
		  var email = /*[[${email}]]*/ 'default';
		  var sortParam = 'startDate';
		  var selectedYear = 'All'
/*]]>*/
</script>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="form-group mb-2">
			<div>
				<form action="/users" class="form-inline">
					<div class="form-group mb-2">
					<input type="text" class="form-control" name="name" placeholder="Search User"/>
					<input type="submit" value="Search" class="btn btn-primary"/>
					</div>
				</form>				
				
			</div>
			<div>
				<a th:href="@{/createExcelAllUsersTasks}" id="createExcelAllUsersTasks"
						style="float:right"><img th:src="@{/images/excel.png}" style="width:40px;margin-left: 10px;"></a>
				<div th:replace="fragments/yearSelect :: yearSelect"></div>				
			</div>
			
		</div>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{labelTh.usersPage.name}">Name</th>
							<th>Email</th>
							<th th:text="#{labelTh.usersPage.work}">Work</th>
							<th th:text="#{labelTh.usersPage.add}">Add</th>							
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{labelTh.usersPage.privileges}">Privileges</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{labelTh.usersPage.delete}">Delete</th>							
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${users}">
							<td th:text="${user.name}"></td>
							<td th:text="${user.email}"></td>
							<td><a th:href="@{/profile(email=${user.email})}" th:text="#{labelBt.usersPage.work}" class="btn btn-dark">View task</a> </td>
							<td><a th:href="@{/addTask(email=${user.email})}" th:text="#{labelBt.usersPage.addTask}" class="btn btn-dark">AddTask</a> </td>							
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/privileges(email=${user.email})}" th:text="#{labelBt.usersPage.privileges}" class="btn btn-dark">Add privileges</a> </td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/deleteUser(email=${user.email})}" th:text="#{labelBt.usersPage.delete}" class="btn btn-dark">Delete</a> </td>
							
							
<!-- 							<td th:if="${#authentication.name } == ${user.email}"><a th:href="@{/addTask(email=${user.email})}" th:text="#{labelBt.usersPage.addTask}" class="btn btn-dark">AddTask</a> </td> -->
<!-- 							<td th:unless="${#authentication.name } == ${user.email}">-</td> -->
						</tr>
					</tbody>
				</table>
					
				
				
<!-- 				<ul th:if="${users.totalPages > 0}" class="nav nav-pills"> -->
<!-- 					<li class="nav-item"  -->
<!-- 						th:each=" pageNumber : ${pageNumbers}"> -->
<!-- 					<a th:href="@{/users(page=${pageNumber})}" th:text="${pageNumber}" class="nav-link" -->
<!-- 					th:classappend="${pageNumber==users.number + 1}?'active':''" ></a> -->
<!-- 					</li> -->
<!-- 				</ul> -->
			</div>
			<hr/>
				<div th:replace="fragments/pageDataListUsers :: pageDataListUsers"></div>
		</div>
	</div>
</body>
</html>