<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.profile.title}">Profile Page</title>
<script>
// $(document).ready(function () {

//     $("#selectedYear").change(function (event) {

//         //stop submit the form, we will post it manually.
//         event.preventDefault();

//         selectYear();

//     });

// });
function selectYear(str) {
		
		var xhttp; //deklaracja pustej zmienej
// 		if(email == ""){
// 		var email = /*[[${email}]]*/ 'default';
// 		//var email = $('#email').val();
// 		return;
// 		}
		if (str == "") {
	    document.getElementById("table").innerHTML = "";
	    return;
	  	}
	
		//create object XMLHttpRequest
		if (window.XMLHttpRequest) {
		   // code for modern browsers
		   xhttp = new XMLHttpRequest();
		 } else {
		   // code for old IE browsers
		   xhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}
	  
		//w³aœciwoœc któr¹ posiada obiekt xhttp 
	  xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
	      document.getElementById("table").innerHTML =
	      this.responseText;
	    }
	  };
	  xhttp.open("GET", "/profileYear?selectedYear="+str+"&email=" + email , true);
	  //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhttp.send(); 
}

</script>
<script th:inline="javascript">
/*<![CDATA[*/

    var email = /*[[${email}]]*/ 'default';
    console.log(email);

/*]]>*/
</script>
<style>
table.table thead .sorted:after{
	display: inline-block;
	font-family: 'FontAwesome';
	opacity: 0.8;
	margin-left: 1em;
}
table.table thead .sorted.sorted-desc:after{
	content: "\f15e";
}
table.table thead .sorted.sorted-asc:after{
	content: "\f15d";
}
</style>

</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="form-group mb-2">						
			<div class="row">
			<a th:href="@{/addTask(email=${email})}"
				th:text="#{labelBt.profile.addTask}" class="btn btn-primary">AddTask</a>
				<h3 class="col" th:text="#{label.profile.listOfTaskFor} + ' ' + ${email}" >List of task for:</h3>
			</div>
			<div class="form-group blu-margin">
					<br>
					<label class="form-control-label" for="selectedYear" th:text="#{label.profile.ListYears}">Select Year</label>
					<select class="form-control" id="selectedYear" name="selectedYear" onchange="selectYear(this.value)">
						<option th:value="${allYear}" th:text="#{label.option.profile.ListYears}">Select Date</option>
						<option th:each="year : ${years}" 
							th:value="${year}" 
							th:text="${year}"							
							></option>
					</select>
			</div>

		</div>
		<br>
		
		<div class="card" >
			<div class="card card-body" id="table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a th:text="#{label.profile.startDate}" class="sorted" sd:pagination-sort="startDate">Start Date</a></th>
							<th><a th:text="#{label.profile.duration}" class="sorted" sd:pagination-sort="duration">Duration</a></th>
							<th th:text="#{label.profile.stopDate}">Stop Date</th>
							<th th:text="#{label.profile.approved}">Approved</th>
							<th th:text="#{label.profile.tasksCategory}">Category</th>
							<th th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="#{label.profile.activate}">Activate</th>
							<th th:text="#{label.profile.edit}">Edit</th>
							<th th:text="#{label.profile.delete}">Delete</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.startDate}"></td>
							<td th:text="${task.duration}"></td>
							<td th:text="${task.stopDate}"></td>
							<td th:if="${task.isApproved}" th:text="#{label.profile.yes}">Yes</td>
							<td th:unless="${task.isApproved}" th:text="#{label.profile.no}">No</td>
							<td th:text="${task.categoryTasks.name}"></td>
							<td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
								<a th:href="@{/approvTask(id=${task.id}, email=${task.user.email} )}"
								th:text="#{label.profile.activate}" class="btn btn-dark">Activate</a></td>							
							<td th:unless="${task.isApproved}"><a th:href="@{/editTask(id=${task.id}, email=${task.user.email} )}"
								th:text="#{label.profile.edit}" class="btn btn-dark">Edit</a>
							</td>
							<td th:if="${task.isApproved}"><div 
								class="center">-</div>
							</td>
							
							<td><a th:href="@{/deleteTask(id=${task.id})}"
								th:text="#{label.profile.delete}" class="btn btn-dark">Delete</a>
							</td>
						</tr>
					</tbody>

				</table>
				<hr/>
				
				<ul th:if="${tasks.totalPages > 0}" class="nav nav-pills">
					<li class="nav-item" 
						th:each=" pageNumber : ${pageNumbers}">
					<a th:href="@{/profile(page=${pageNumber}, email=${email})}" th:text="${pageNumber}" class="nav-link"
					th:classappend="${pageNumber==tasks.number + 1}?'active':''" ></a>
					</li>
				</ul>
				
				<nav aria-label="Pagination" th:if="${tasks.totalPages gt 0}">
				    <ul class="pagination justify-content-center font-weight-bold">
				        <li class="page-item" th:classappend="${tasks.number eq 0} ? 'disabled'">
				            <a class="page-link"
				               th:href="@{/profile?page={pageNumber}&email={email} (pageNumber=${tasks.number lt 2 ? 1 : tasks.number}, email=${email})}"
				               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
				                <span aria-hidden="true">&laquo;</span>
				            </a>
				        </li>
				        <li class="page-item" th:classappend="${i eq tasks.number + 1} ? 'active'"
				            th:each="i : ${#numbers.sequence( 1, tasks.totalPages, 1)}">
				            <a class="page-link" th:href="@{/profile?page={pageNumber}&email={email}(pageNumber=${i}, email=${email})}" th:text="${i}"
				               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				        </li>
				        <li class="page-item" th:classappend="${tasks.number + 1 eq tasks.totalPages} ? 'disabled'">
				            <a class="page-link"
				               th:href="@{/profile?page={pageNumber}&email={email}(pageNumber=${tasks.number + 2}, email=${email}) }"
				               aria-label="Next" title="Next Page" data-toggle="tooltip">
				                <span aria-hidden="true">&raquo;</span>
				            </a>
				        </li>
				    </ul>
				</nav>
				
				<div class="row">
				    <div class="col-sm-6">
				    	<div sd:pagination-summary="">info</div>
				    </div>
				    <div class="col-sm-6">
				    <nav class="pull-right">
						<ul class="pagination" sd:pagination-split="3" sd:pagination="full">
							<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
							<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						   	<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						</ul>
					</nav>
<!-- 					Show <span sd:page-size-selector="javascript"></span> entries -->							
				    </div>
				</div>
				<div>
				    <span sd:pagination-summary="compact">info</span>
				    <div class="btn-group pager-compact" sd:pagination="compact-pager">
				        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
				        <a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-chevron-left"></span></a>
				        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div>
				</div>
				
				
				
			</div>
		</div>
	</div>	
</body>
</html>