<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.profile.title}">Profile Page</title>
<script>
// $(document).ready(function () {

//     $("#selectedYear").change(function (event) {

//         //stop submit the form, we will post it manually.
//         event.preventDefault();

//         selectYear();

//     });

// });
function selectYear(str) {
		
		var xhttp; //deklaracja pustej zmienej
// 		if(email == ""){
// 		var email = /*[[${email}]]*/ 'default';
// 		//var email = $('#email').val();
// 		return;
// 		}
		if (str == "") {
	    document.getElementById("table").innerHTML = "";
	    return;
	  	}
	
		//create object XMLHttpRequest
		if (window.XMLHttpRequest) {
		   // code for modern browsers
		   xhttp = new XMLHttpRequest();
		 } else {
		   // code for old IE browsers
		   xhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}
	  
		//w³aœciwoœc któr¹ posiada obiekt xhttp 
	  xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
	      document.getElementById("table").innerHTML =
	      this.responseText;
	    }
	  };
	  xhttp.open("GET", "/profileYear?selectedYear="+str+"&email=" + email , true);
	  //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhttp.send(); 
}

</script>
<script th:inline="javascript">
/*<![CDATA[*/

    var email = /*[[${email}]]*/ 'default';
    console.log(email);

/*]]>*/
</script>

</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="form-group mb-2">						
			<div>
			<a th:href="@{/addTask(email=${email})}"
				th:text="#{labelBt.profile.addTask}" class="btn btn-primary">AddTask</a>
			</div>
			<div class="form-group blu-margin">
					<br>
					<label class="form-control-label" for="selectedYear" th:text="#{label.profile.ListYears}">Select Year</label>
					<select class="form-control" id="selectedYear" name="selectedYear" onchange="selectYear(this.value)">
						<option th:value="${allYear}" th:text="#{label.option.profile.ListYears}">Select Date</option>
						<option th:each="year : ${years}" 
							th:value="${year}" 
							th:text="${year}"							
							></option>
					</select>
			</div>

		</div>
		<br>
		
		<div class="card">
			<div class="card card-body" id="table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{label.profile.data}">Date</th>
							<th th:text="#{label.profile.startTime}">Start Time</th>
							<th th:text="#{label.profile.stopTime}">Stop Time</th>
							<th th:text="#{label.profile.approved}">Approved</th>
							<th th:text="#{label.profile.description}">Description</th>
							<th th:text="#{label.profile.delete}">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.date}"></td>
							<td th:text="${task.startTime}"></td>
							<td th:text="${task.stopTime}"></td>
							<td th:if="${task.approved == true}">Yes</td>
							<td th:if="${task.approved} == false">No</td>
							<td th:text="${task.description}"></td>
							<td><a th:href="@{/deleteTask(id=${task.id})}"
								th:text="#{label.profile.delete}" class="btn btn-dark">Delete</a>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>	
</body>
</html>