<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- <title th:text="#{label.profile.title}">ProfileTableData Page</title> -->
</head>
<body>

			<div  id="table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{label.profile.startDate}">Date</th>
							<th th:text="#{label.profile.startTime}">Start Time</th>
							<th th:text="#{label.profile.stopTime}">Stop Time</th>
							<th th:text="#{label.profile.approved}">Approved</th>
							<td th:text="#{label.profile.description}">Description</td>
							<th th:text="#{label.profile.delete}">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.startDate}"></td>
							<td th:text="${task.startTime}"></td>
							<td th:text="${task.stopTime}"></td>
							<td th:if="${task.isApproved}">Yes</td>
							<td th:unless="${task.isApproved}">No</td>
							<td th:text="${task.description}"></td>
							<td><a th:href="@{/deleteTask(id=${task.id})}"
								th:text="#{label.profile.delete}" class="btn btn-dark">Delete</a>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
</body>
</html>