<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- <title th:text="#{label.profile.title}">ProfileTableData Page</title> -->
</head>
<body>

			<div id="table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{label.profile.startDate}">Start Date</th>
							<th th:text="#{label.profile.duration}">Duration</th>
							<th th:text="#{label.profile.stopDate}">Stop Date</th>
							<th th:text="#{label.profile.approved}">Approved</th>
							<th th:text="#{label.profile.tasksCategory}">Category</th>
							<th th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="#{label.profile.activate}">Activate</th>
							<th th:text="#{label.profile.edit}">Edit</th>
							<th th:text="#{label.profile.delete}">Delete</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.startDate}"></td>
							<td th:text="${task.duration}"></td>
							<td th:text="${task.stopDate}"></td>
							<td th:if="${task.isApproved}" th:text="#{label.profile.yes}">Yes</td>
							<td th:unless="${task.isApproved}" th:text="#{label.profile.no}">No</td>
							<td th:text="${task.categoryTasks.name}"></td>
							<td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
								<a th:href="@{/approvTask(id=${task.id}, email=${task.user.email} )}"
								th:text="#{label.profile.activate}" class="btn btn-dark">Activate</a></td>							
							<td th:unless="${task.isApproved}"><a th:href="@{/editTask(id=${task.id}, email=${task.user.email} )}"
								th:text="#{label.profile.edit}" class="btn btn-dark">Edit</a>
							</td>
							<td th:if="${task.isApproved}"><div 
								class="center">-</div>
							</td>
							
							<td><a th:href="@{/deleteTask(id=${task.id})}"
								th:text="#{label.profile.delete}" class="btn btn-dark">Delete</a>
							</td>
						</tr>
					</tbody>

				</table>
				<hr/>
				<ul th:if="${tasks.totalPages > 0}" class="nav nav-pills">
					<li class="nav-item" 
						th:each=" pageNumber : ${pageNumbers}">
					<a th:href="@{/profile(page=${pageNumber}, email=${email})}" th:text="${pageNumber}" class="nav-link"
					th:classappend="${pageNumber==tasks.number + 1}?'active':''" ></a>
					</li>
				</ul>
			</div>
</body>
</html>