<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.register.title}">Register Form</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="alert alert-info" th:if="${exist}">
			<p class="text text-center" th:text="#{label.register.alert1}">User with this Email already Exist</p>
		</div>
		<div><span>Has³o wygenerowane to: </span><p th:text="${message}"/></div> 
		<form action="#" th:action="@{/resetPassword}" method="post">
			<div class="form-group">
				<label for="email" class="form-control-label">Email</label> 
				<input	type="text" class="form-control" id="email" name="email" />				
			</div>				
						
			<input type="submit" value="Submit" th:value="#{value.register.submit}" class="btn btn-primary">
		</form>
	</div>
</body>
</html>