<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.register.title}">Register Form</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="alert alert-info row justify-content-between"
			th:if="${messageMessageSent}">
			<h3 th:text="#{message.loginController.messageMessageSent}">Mail was sent.</h3>
		</div>	
		<div class="alert alert-danger row justify-content-between"
			th:if="${messageMailServerNotAvailable}">
			<h2 th:text="#{message.loginController.mailServerNotAvailable}">Mail server is not available</h2>
		</div>		
	
		<form action="#" th:action="@{/resetPassword}" method="post">
			<div class="form-group">
				<label for="email" class="form-control-label">Email</label> 
				<input	type="text" class="form-control" id="email" name="email" />				
			</div>				
						
			<input type="submit" value="Submit" th:value="#{label.resetPasswordForm.submit}" class="btn btn-primary">
		</form>
	</div>
</body>
</html>