<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title th:text="#{label.tasks.title}">Tasks Form</title>
<script th:inline="javascript">
            /*<![CDATA[*/
            function showStopTime() {
            	
                var startT = /*[[${task.startTime}]]*/;
                var d = new Date();
                console.log(d);
                var duration =  $("#duration").val();
                console.log(duration);
                var stopT = startT + duration
                $("#stopTime").val(stopT);
                         
            }
            /*]]>*/
           // dadaone do inputa onkeyup="showStopTime()"
</script>

<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function(){
		var checkTimeStopIsCorrect = /*[[${checkTimeStopIsCorrect}]]*/;
		if(checkTimeStopIsCorrect == null){
			checkTimeStopIsCorrect = true
		}
        console.log(checkTimeStopIsCorrect);
		checkUncheck();
		if(checkTimeStopIsCorrect){
			$("#stopDayTime").hide();			
		}else{
			$('#dateOverDay').attr('checked', true);
		}
	});
	function checkUncheck() { 
    $('#dateOverDay').click(function() {
        if (this.checked) {        	
            $("#stopDayTime").show();
        } else {        	
            $("#stopDayTime").hide();
        }
    }); 
}	
	 /*]]>*/
</script>

</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<form th:action="@{/addTask}" th:object="${task}" method="post">
			<input type="hidden" name="email" th:value="${email}">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{stopTime}">
			<input type="hidden" name="user" th:value="${email}">
			
			<div class="form-group">
				<label for="startDate" class="form-control-label" th:text="#{label.tasks.startDate}">Start Date</label> <input
					type="date" class="form-control" th:field="*{startDate}" id="startDate" />
				<div class="text text-danger" th:if="${#fields.hasErrors('startDate')}"
					th:errors="*{startDate}"></div>
			</div>
			<div class="form-group">
				<label for="startTime" class="form-control-label"
					th:text="#{label.tasks.startTime}">Start Time</label> <input
					type="time" class="form-control" th:field="*{startTime}"
					id="startTime" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="dateOverDay" />
					<label for="dateOverDay" class="form-check-label"
						th:text="#{label.tasks.dateOverDay}">Date over day</label>
				</div>
			</div>
			<div id="stopDayTime">
				<div class="form-group">
					<label for="stopDate" class="form-control-label" th:text="#{label.tasks.stopDate}">Stop Date</label> <input
						type="date" class="form-control" th:field="*{stopDate}" id="stopDate" />
					<div class="text text-danger" th:if="${#fields.hasErrors('stopDate')}"
						th:errors="*{stopDate}"></div>
				</div>
			
<!-- 				<div class="form-group"> -->
<!-- 					<label for="stopTime" class="form-control-label" th:text="#{label.tasks.stopTime}">Stop Time</label> <input -->
<!-- 						type="time" class="form-control" th:field="*{stopTime}"  -->
<!-- 						id="stopTime" /> -->
<!-- 					<div class="text text-danger" -->
<!-- 						th:if="${#fields.hasErrors('stopTime')}" th:errors="*{stopTime}"></div> -->
<!--                </div> -->
               </div>
               <div class="form-group">
				<label for="duration" class="form-control-label" th:text="#{label.tasks.duration}">Duration</label> <input
					type="time" class="form-control" th:field="*{duration}"  
					id="duration" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
               </div>
               <div class="form-group">
<!-- 					<label for="categoryTask" class="form-control-label" th:text="#{label.tasks.categoryTask}">categoryTask</label> -->
<!-- 					<div th:if="${task.categoryTasks} ? i = ${task.categoryTasks} : 0 "></div> -->
					<select  class="form-control" name="categoryTasks" id="categoryTasks">  
<!-- 						<option th:if="${task.categoryTasks}" th:text="${task.categoryTasks.name}">Select category task</option> -->
						<option value="" th:text="#{label.option.profile.categoryTask}">Select category task</option>							 
						<option th:each="category : ${categoryTask}" 
							th:value="${category.id}" 
							th:text="${category.name}"
							th:selected="${category.id} == ${task.categoryTasks.id}"											
							></option>							
					</select>
					<div class="text text-danger"
						th:if="${#fields.hasErrors('categoryTasks')}">
							<p th:each="err : ${#fields.hasErrors('categoryTasks')}" th:text="#{NotNull.task.categoryTasks}" >...</p>
						</div>									
					</div>
               
				<div class="form-group">
					<label for="description" class="form-control-label" th:text="#{label.tasks.description}">Description</label>
					<textarea   class="form-control" th:field="*{description}" 
						id="description">  </textarea>
					<div class="text text-danger"
						th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
					</div>
				<div class="form-group row justify-content-between">
					<input type="submit" value="Submit" class="btn btn-primary" th:value="#{value.tasks.submit}"/>
					
				</div>
		</form>
	</div>
</body>
</html>