<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script type="text/javascript" th:src="@{js/pageData.js}" src="../static/js/pageData.js"></script>
<script>
/*<![CDATA[*/
		  var email = /*[[${email}]]*/ 'default';
/*]]>*/
</script>
</head>
<body>
				
				<div id="pageDataListUsers" class="row container" th:fragment="pageDataListUsers">
				    <div class="col-sm-5">
	                    <div class="pagination"><p>Pokazano<span class="badge"
	                                                               th:text="${users.size * users.number + 1}"></span> do
	                            <span class="badge" th:text="${users.last ? users.totalElements : users.size * users.number + users.size}"></span> z 
	                            <span class="badge"
	                                  th:text="${users.totalElements}"></span>
	                            <p>wpisów</p></div>
	                </div>				    
				    <div class="col-sm-4 text-center">
				    <nav class="pull-right text-center">
						<ul class="pagination" sd:pagination-split="3" sd:pagination="full" >

							<li class="disabled"><a href="#"  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						   	<li class="active"><a href="#"  >1 <span class="sr-only">(current)</span></a></li>
						</ul>
					</nav>
				    </div>
				    <div class="col-sm-3 float-right">
				    	<div th:replace="fragments/sizePageSelect :: sizePageSelectFragment"></div>				    				    
				    </div>
				</div>

</body>
</html>		
				