<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script type="text/javascript" th:src="@{js/pageData.js}" src="../static/js/pageData.js"></script>
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
</head>
<body>
		<table id="tListUsers" class="table table-hover">
					<thead class="headTableUserList">
						<tr>
<!-- 						<th><a th:text="#{label.profile.startDate}" class="sorted" sd:pagination-sort="startDate" sd:pagination-url="@{/profileYear}">Start Date</a></th> -->
							<th><a th:text="#{labelTh.usersPage.name}" class="sorted" sd:pagination-sort="name" sd:pagination-url="@{/users}">Name</a></th>
							<th><a th:text="#{labelTh.usersPage.lastName}" class="sorted" sd:pagination-sort="lastName" sd:pagination-url="@{/users}">Last Name</a></th>
							<th><a th:text="#{labelTh.usersPage.email}" class="sorted" sd:pagination-sort="email" sd:pagination-url="@{/users}">Email</a></th>
							<th th:text="#{labelTh.usersPage.work}">Work</th>
							<th th:text="#{labelTh.usersPage.add}">Add</th>							
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{labelTh.usersPage.privileges}">Privileges</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{labelTh.usersPage.delete}">Delete</th>							
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${users}">
							<td th:text="${user.name}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${user.email}"></td>
							<td><a th:href="@{/profile(email=${user.email})}" th:text="#{labelBt.usersPage.work}" class="btn btn-dark">View task</a> </td>
							<td><a th:href="@{/addTask(email=${user.email})}" th:text="#{labelBt.usersPage.addTask}" class="btn btn-dark">AddTask</a> </td>							
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/privileges(email=${user.email})}" th:text="#{labelBt.usersPage.privileges}" class="btn btn-dark">Add privileges</a> </td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/deleteUser(email=${user.email})}" th:text="#{labelBt.usersPage.delete}" class="btn btn-dark">Delete</a> </td>
						</tr>
					</tbody>
				</table>	
			
				
				
		
</body>
</html>			
				