<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
  <script>
     $(document).ready(function(){
    	  $("p").click(function(){
    	    alert("The paragraph was clicked.");
    	  });
    	  
    	  $( document ).ajaxComplete(function() {
    	   	  $( ".log" ).text( "Triggered ajaxComplete handler." );
    	   	});
    	  
    	  $( ".trigger" ).click(function() {
    	   	  $( ".result" ).load( "profileYear" );
    	   	});
    	});
    
     
    
     
     
     
     </script>
</head>
<body>

     <div  layout:fragment="content" class="container mySpace">
          <div class="jumbotron">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores autem vel doloribus consequuntur harum commodi eos tenetur vitae asperiores!</p>
          
          </div>
          
           <div>
	          	<div class="trigger">Trigger</div>
				<div class="result"></div>
				<div class="log"></div>
	          	<br/>
     		</div>
          
     
     <div class="container"><br/>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                  aria-label="close">×</a>
                <strong>Success!</strong> It is working as we expected.
            </div>
        </div>
        </div>
    
</body>
</html>